services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: effective
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d effective"]
      interval: 2s
      timeout: 2s
      retries: 30

  api:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      HTTP_ADDR: ":8080"
      DB_DSN: "postgres://postgres:postgres@postgres:5432/effective?sslmode=disable"
    ports:
      - "8080:8080"
